.Board {
  height: 75vmin;
  width: 75vmin;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  
}

.numeric {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell {
  position: relative;
  border: 1px solid green;
  display: flex;
  min-height: 10ch;
  min-width: 10ch;

}
.cell.selected {
  background-color: lightgreen;
}
.cell-child {
  position: absolute;
  width: 100%;
  height: 25%;
}

.candidates {
  
  justify-items: center;
  top: 75%;
  font-size: 1em;
}
.candidate {
  display: inline-block;
}
.notes {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: start;
  top: 25%;
}
.snyder {
  top: 0%;
  left: 20%;
  width: 60%;
  font-size: 0.75em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 75%;
  padding: 4px;
  /*justify-items: center;
  
  grid-template-rows: 1fr 1fr 1fr;
  */
}
.corner {
  padding: 2px;
}
.corner-style-hide {
  visibility: hidden;
}
.corner-style-highlight {
  background-color: lime;
}
.corner-style-prepare {
  background-color: yellow;
}
.snyder:hover {
  cursor: pointer;
}

.data {
  top: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.interactor {
  z-index: 9;
  background-color: ;
}
.given {
  font-size: 8ch;
  background-color: lightgray;
  height: 100%;
}
.answer {
  font-size: 8ch;
  background-color: whitesmoke;
  height: 100%;
}
.column-0 {
  border-left: 4px  solid green;
}
.column-2,.column-5,.column-8  {
  border-right: 4px  solid green;
}
.row-0 {
  border-top: 4px  solid green;
}
.row-2,.row-5,.row-8 {
  border-bottom: 4px  solid green;
}